.carousel{
  margin: 0 auto;
  margin-top: 6px;

    .prev{
    margin-right: auto;
    margin-bottom: 20px;
  }
  .next{
    margin-bottom: 20px;
  }
  .textoimg{
    color: rgb(255, 255, 255);
    text-shadow: #000 2px 2px 5px;

  }
  .img-fluid{
    width: 100%;
  }

}
