<div class="container">

  <div class="corpoSite row mb">

      <div class="paicard">
        <a class="linkcard" href="#" style="text-decoration: none;">
        <div class="card">

          <img class="cardImg1 card-img-top" src="../assets/logoLoja/P30Pro1.svg">
          <div class="textcard card-body">

            <h5>R$4.849,90</h5>
            <p>Smartphone Huawei P30 Pro L29 256B 8GB RAM Câmera 40MP 4G Android</p>

          </div>
        </div>
      </a>
      </div>

    <div class="paicard">

      <a class="linkcard" href="#" style="text-decoration: none;">
        <div class="card">

          <img class="cardImg2 card-img-top" src="../assets/logoLoja/mouse.png">
          <div class="textcard card-body">
            <p class="promocao">R$799,90</p>
            <h5>R$719,91</h5>
            <p>Mouse Gamer Sem Fio Logitech G PRO Wireless</p>
          </div>

        </div>
      </a>

    </div>

    <div class="paicard">

      <a class="linkcard" href="#" style="text-decoration: none;">
        <div class="card">

          <img class="cardImg3 card-img-top" src="../assets/logoLoja/gabinete.png">
          <div class="gabinete textcard card-body">
            <h5>R$14.899,63</h5>
            <p>Computador Pichau gamer, I7-9700K, RTX 3070 8GB, 16GB DDR4, HD 1TB...</p>
          </div>

        </div>
      </a>

    </div>

    <div class="paicard">

      <a class="linkcard" href="#" style="text-decoration: none;">
        <div class="cardbord card">

          <img class="cardImg4 card-img-top" src="../assets/logoLoja/game.png">
          <div class="textcard card-body">
            <h5>R$99,90</h5>
            <p>Game Cyber Punk 2077 - PS4</p>
          </div>

        </div>
      </a>
    </div>


  </div>

</div>

