@import "~bootstrap-icons/font/bootstrap-icons.css";
@import '~bootstrap/dist/css/bootstrap.min.css';
@import "~bootstrap/dist/css/bootstrap.css";


body{
 background-color: rgb(226, 226, 226);
}




